
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>주식 메인페이지</title>
		<link rel="stylesheet" href="{{ url_for('static', path='../static/styles.css')}}">
  </head>
  <body>
    <nav class="nav">
			<div class="nav_banner nav_first">
			</div>
			<div class="nav_banner nav_second">
				<i class="fas fa-user-secret" style="color: darkturquoise; padding-right: 20px;"></i>
				더 이상 일일이 분석하지 마세요! 저희가 분석해드릴게요!
				<i class="far fa-smile-wink" style="color:darkturquoise; padding-left: 20px"></i>
			</div>
			<div class="nav_banner nav_sign">
				<div class="sign_in">로그인</div>
				<div class="sign_up">회원가입</div>
			</div>
		</nav class="nav">
		<div class="search">
			<div class="search_icon"><i class="fas fa-search"></i></div>
			<div class="search_bar">
				<input type="text">
			</div>
		</div>	
			
		<table class="table">
			<thead>
				<tr>
					<th>순위</th>
					<th>종목명</th>
					<th>현재가</th>
					<th>거래량</th>
					<th>전일비</th>
					<th>등락률</th>
					<th>고가</th>
					<th>저가</th>
					<th>시가</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>a</td>
					<td>b</td>
					<td>c</td>
					<td>a</td>
					<td>b</td>
					<td>c</td>
					<td>a</td>
					<td>b</td>
					<td>c</td>

				</tr>
				<tr>
					<td>a</td>
					<td>b</td>
					<td>c</td>
					<td>a</td>
					<td>b</td>
					<td>c</td>
					<td>a</td>
					<td>b</td>
					<td>c</td>
				</tr>
				<tr>
					<td>a</td>
					<td>b</td>
					<td>c</td>
					<td>a</td>
					<td>b</td>
					<td>c</td>
					<td>a</td>
					<td>b</td>
					<td>c</td>
				</tr>
			</tbody>
		</table>
  </body>
	<script
      src="https://kit.fontawesome.com/6478f529f2.js"
      crossorigin="anonymous"
    ></script>
</html>